<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
		<meta charset="utf-8" />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Barlow&family=Koulen&display=swap" rel="stylesheet"> 

		<script src="p5.js"></script>
		<script src="p5.sound.min.js"></script>
		<script src="swipe.min.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

		<link rel="icon" href="2-11TileIcon.png">
		<title>2^11</title>
	</head>
	<body>
		{{#LOGGED_IN}}
		<div class="user-column">
			<div class="column-tab profile">
				<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Person</title><path d="M344 144c-3.92 52.87-44 96-88 96s-84.15-43.12-88-96c-4-55 35-96 88-96s92 42 88 96z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path d="M256 304c-87 0-175.3 48-191.64 138.6C62.39 453.52 68.57 464 80 464h352c11.44 0 17.62-10.48 15.65-21.4C431.3 352 343 304 256 304z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>
			</div>
			<div class="column-tab leaderboard-tab">
				<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Leaderboard Chart</title><rect x="64" y="320" width="48" height="160" rx="8" ry="8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><rect x="288" y="224" width="48" height="256" rx="8" ry="8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><rect x="400" y="112" width="48" height="368" rx="8" ry="8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><rect x="176" y="32" width="48" height="448" rx="8" ry="8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
			</div>
			<div class="column-tab current-streak">
				<div class="barlow current-streak-descript">Streak</div>
				<div class="curr-streak">{{CURRENT_STREAK}}</div>
			</div>
			<div id="column-best-square" class="column-tab best-square bs-{{BEST_BLOCK}}">
				<div class="barlow best-sq-descript">Best tile</div>
				<div class="best-num">{{BEST_BLOCK}}</div>
			</div>
		</div>
		{{/LOGGED_IN}}
	  	<div id="all-content">
			<main id="page-body">
				<div class="dropdown-noti {{#LOGGED_IN}}logged-in-box{{/LOGGED_IN}}{{^LOGGED_IN}}logged-out-box{{/LOGGED_IN}}">
					{{^LOGGED_IN}}
						<p class="barlow">
							You are not logged in
						</p>
						<div class="signup-sys">
							<a href="/login">
								<div>
									Login
								</div>
							</a>
							<a href="/signup">
								<div>
									Signup
								</div>
							</a>
						</div>
					{{/LOGGED_IN}}
					{{#LOGGED_IN}}
						<p class="barlow">
							Logged in as {{USERNAME}}
						</p>
					{{/LOGGED_IN}}
				</div>
				<div id="page-meta-info">
					<div style="display: flex; justify-content: center; align-items: center">
						<div id="page-title">2<p class="shooter">^</p>11</div>
						<div class="scores">
							<div class="score-card current-score-card">
								Score
								<div class="sub-scorer">
									<p id="add-to-current-score"></p>
									<p id="current-score">
										0
									</p>
								</div>
							</div>
							<div class="score-card best-score-card">
								Best
							 	<div class="sub-scorer">
									<p id="best-score">
										0
									</p>
								</div>
							</div>
						</div>
					</div>
					<div style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px;">
						<div style="display: flex; flex-direction: column; justify-content: center;">
							<p class="barlow">Join the tiles to get to 2^11 (2048)!</p>
							<a id="go-to-how-to" href="#how-to-play">How to play ➞</a>
						</div>
						<div id="new-game">
							New game
						</div>
					</div>
				</div>
			</main>

			<div id="how-to-play">
				<p>How to play:</p>
				<p class="barlow" style="line-height: 26px">
					Use the <span class="barlow" style="font-weight: bold">arrow keys</span> to move tiles around the virtual space. When <span class="barlow" style="font-style: italic">two tiles</span> with the <span class="barlow" style="font-weight: bold !important">same number</span> touch, they <span class="barlow" style="font-weight: bold !important">merge!</span> Keep going until you reach <span style="font-weight: bold">2^11 (2048)!</span>
				</p>
				<a id="go-to-title" href="#page-title">Start playing ➞</a>

				<hr>

				<p class="barlow" style="line-height: 26px">
					This is the <span class="barlow" style="font-weight: bold">original version of</span> <span style="font-weight: bold">2^11 / 2-11</span>. Maintain
					 <span class="barlow" style="font-weight: bold; display: inline">prudence</span> towards all other versions that do not have the name <span style="font-weight: bold">2^11</span> or <span style="font-weight: bold">2-11</span>.
				</p>

				<hr>

				<div class="final-tag">
					<p class="barlow">
						Created by <a class="barlow" href="https://charlie.city" target="_blank">charlie-map.</a> Based on <a class="barlow" href="https://apps.apple.com/us/app/1024/id823499224" target="_blank">1024 by Veewo Studio.</a>
					</p>
					<div class="card counter"></div>
				</div>
			</div>
		</div>
		{{#LOGGED_IN}}
		<div id="leaderboard" class="leaderboard">
			{{#LEADERBOARD}}
			<div class="leaderboard-entry">
				<div class="leaderboard-entry-rank rank-color{{rank}}">{{rank}}</div>
				<div class="leaderboard-entry-meta">	
					<div class="leaderboard-entry-username">{{{username}}}</div>
					<div class="leaderboard-entry-score {{personal_user}}">{{bestScore}}</div>
				</div>
			</div>
			{{/LEADERBOARD}}
		</div>
		{{/LOGGED_IN}}

		<!-- META DATA -->
		<script>
			let board;
			let moveBuildup;
			let highestPiece = {{BEST_BLOCK}};
			let loggedIn = {{LOGGED_IN}};

			let endGame = 0;
			let opacityEndRoller = 60, rectEndFiller = [10, 87, 90];

			// stores background color, text color, and glow for a given tile
			let levelConverter;
			let bestPoints = localStorage.getItem("savedBest2-11Score");
			bestPoints = bestPoints ? parseInt(bestPoints, 10) : 0;
			let points = 0, metaPoints = 0;

			let currentScoreAnimationTimeout;
			let logging_in = undefined;
		</script>
		<script src="piece.js"></script>
		<script src="board.js"></script>
		<script src="sketch.js"></script>

		<script src="primary.js" defer></script>
	</body>
</html>
