<!DOCTYPE html>
<html lang="en">
  <head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="utf-8" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Barlow&family=Koulen&display=swap" rel="stylesheet"> 

	<script src="p5.js"></script>
	<script src="p5.sound.min.js"></script>

	<script src="jquery-3.6.0.min.js" defer></script>

  </head>
  <body>
	<main id="page-body">
		<div id="page-meta-info">
			<div style="display: flex; justify-content: center; align-items: center">
				<div id="page-title">2<p class="shooter">^</p>11</div>
				<div class="scores">
					<div class="score-card current-score-card">
						Score
						<div class="sub-scorer">
							<p id="add-to-current-score"></p>
							<p id="current-score">
								0
							</p>
						</div>
					</div>
					<div class="score-card best-score-card">
						Best
					 	<div class="sub-scorer">
							<p id="best-score">
								0
							</p>
						</div>
					</div>
				</div>
			</div>
			<div style="display: flex; justify-content: center; align-items: center">
				<div>
					<p class="barlow">Join the tiles to get to 2E11 (2048)!</p>
					<a href="#how-to-play">How to play 🠮</a>
				</div>
				<div id="new-game">
					New game
				</div>
			</div>
		</div>
	</main>

	<!-- META DATA -->
	<script>
		let board;
		let moveBuildup;

		let endGame = 0;
		let opacityEndRoller = 60, rectEndFiller = [10, 87, 90];

		// stores background color, text color, and glow for a given tile
		let levelConverter;
		let bestPoints = localStorage.getItem("savedBest2-11Score");
		bestPoints = bestPoints ? parseInt(bestPoints, 10) : 0;
		let points = 0, metaPoints = 0;

		let currentScoreAnimationTimeout;
	</script>
	<script src="piece.js"></script>
	<script src="board.js"></script>
	<script src="sketch.js"></script>

	<script src="primary.js" defer></script>
  </body>
</html>
